Config (
	signals: [
		Smooth (
			attack: Exp(75000.0),
			release: Linear(1.0),
			inner: BandEnergy (
				low: 0.1,
				high: 150.0,
			),
		),
		Smooth (
			attack: Exp(0.00001),
			release: Exp(0.00001),
			inner: BandEnergy (
				low: 66.6,
				high: 150.0,
			),
		),
		Integrated (
			Smooth (
				attack: Exp(100.0),
				release: Exp(10.0),
				inner: BandEnergy (
					low: 0.1,
					high: 150.0,
				),
			),
		),
		Smooth (
			attack: Exp(100.0),
			release: Exp(50.0),
			inner: BandEnergy (
				low: 1000.0,
				high: 20000.0,
			),
		),
		Integrated (
			Smooth (
				attack: Exp(100.0),
				release: Exp(10.0),
				inner: BandEnergy (
					low: 1000.0,
					high: 20000.0,
				),
			),
		),
	],
	main: "kanagawa.wgsl",
)
